# Dace related stuff
.dacecache/
_dacegraphs/

# Python related stuff
.ipynb_checkpoints/
__pycache__/

$
junk/
.vscode/

# Symlinks
dace
jax
gt4py
pyhpc

# Stuff related with benchmarking
*.pickle
Philip__ICON_velocity_advection_stencil_20.py
Equation_of_state.py
